html {
    font-family: 'Montserrat', sans-serif;
}
body{
    margin: 0;
    /* display: inline-block; */
}
.General {
    width: 100%;
}
.parte1 {
    background-color: rgb(24,157,177);
    float: left;
    width: 40%;
    height: 969px;
}
.parte2 {
    width: 60%;
    height: 969px;
    background-color: rgb(24,157,177);
    background-image: url(Imagenes/fondo.png);
    background-size: cover;
    float: left;
}
.logo{
    width: 250px;
    margin:0;
}
h1.subtitulo{
    font-size: 70px;
}
h2.subtitulo{
    font-size: 35px;
    color: rgb(200,200,200);
}
.subtitulo{
    margin:0;
    color: white;
}
.boton1 {
    font-size: 30px;
    border-color: rgb(45,154,247);
    padding: 15px 70px;
    border-radius: 50px;
    background-color: rgb(45,154,247);
    color: white;
}
.boton {
    font-size: 30px;
    padding: 10px 50px;
    border-radius: 50px;
    border-color: rgb(57,57,57);
    background-color: rgb(57,57,57);
    color: white;
    text-decoration: none;
}
.boton1:hover, .boton:hover {
    cursor: pointer;
    background-color: darkblue;
    border-color: darkblue;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0.1rem 0.5rem rgba(0,0,0,1);
}
.imagene:hover {
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 1rem 2rem rgba(0,0,0,1);
}